<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body{
                background-image: url("https://media.discordapp.net/attachments/740121317277433857/794905296765583360/7d2d063696f0a0430c476a7866e0cd13.png?width=473&height=473");
                background-repeat: no-repeat;
                background-size: cover;
                background-color: black;
            }
        </style>
        <link rel="icon" type="image/png" sizes="96x96" href="https://media.discordapp.net/attachments/740121317277433857/794905296765583360/7d2d063696f0a0430c476a7866e0cd13.png?width=473&height=473" style="border-radius: 50%;">
        <meta name="msapplication-TileColor" content="#00FFA0">
        <meta name="msapplication-TileImage" content="https://media.discordapp.net/attachments/740121317277433857/794905296765583360/7d2d063696f0a0430c476a7866e0cd13.png?width=473&height=473">
        <meta name="theme-color" content="#00FFA0">	
        <meta property="og:url" content="https://trustybot.xyz/">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Trusty">
        <meta property="og:title" content="💚 Dołącz do nas na Discordzie">
        <meta property="og:description" content="Oferujemy przyjazne community oraz pomoc w konfiguracji bota">
        <meta property="og:image" content="https://media.discordapp.net/attachments/740121317277433857/794905296765583360/7d2d063696f0a0430c476a7866e0cd13.png?width=473&height=473">
    
    </head>
    <body onload="redirect()">

    <script type="text/javascript">

        function redirect() {
        window.location.href = "https://discord.gg/zK44GSq3vs";
        }

        var i = 0;
        var txt = 'Ładowanie zaproszenia!';
        var speed = 50;

        $(window).load(function(){
            if (i < txt.length) {
                document.getElementById("load").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
         }
        });
    
    </script>
    <noscript>JavaScript nie został włączony w Twojej przeglądarce, lub nie jest obsługiwany!</noscript>
    <p id="load"></p>
    </body>
</html>